[[$head]]
<body>

[[!shopkeeper4?
&action=`categories,render_placeholder_array,products`
&categories_outerTpl=`0`
&categories_cacheKey=`cache_topmenu`
&categories_toPlaceholder=`topmenu`
&render_placeholder_array_tpl=`shk4_breadcrumbs`
&render_placeholder_array_placeholderName=`shk4.dataBreadcrumbs`
&render_placeholder_array_toPlaceholder=`breadcrumbs`
&products_tpl=`shk4_productsItemTpl`
&products_toPlaceholder=`products`
&products_rowTpl=`shk4_productsRowTpl`
]]

[[$header]]

<main role="main" class="container">

    <h1>[[*pagetitle]]</h1>

    [[+breadcrumbs]]

    <div class="min-height400">

        [[*content]]

        <div class="row">
            <div class="col-md-3">

                [Фильтры]

            </div>
            <div class="col-md-9">

                <div class="row">
                [[+products]]
                </div>

            </div>
        </div>

    </div>
</main>

[[$footer]]

</body>
</html>