[[$shk4_head]]
<body>

[[!shopkeeper4?
&action=`categories,breadcrumbs,products,filters,pagination`

&categories_outerTpl=`0`
&categories_toPlaceholder=`topmenu`
&categories_cacheKey=`cache_topmenu`
&categories_rowTpl=`shk4_menuRowTpl`

&breadcrumbs_tpl=`shk4_breadcrumbs`
&breadcrumbs_toPlaceholder=`breadcrumbs`

&products_toPlaceholder=`products`
&products_rowTpl=`shk4_productsRowTpl`

&filters_rowTpl=`shk4_filterBlockTpl`
&filters_outerTpl=`shk4_filterOuterTpl`
&filters_toPlaceholder=`filters`
&filters_cacheKey=`catalog_filters[[*id]]`

&pagination_pageNavOuterTpl=`<div><ul class="pagination pagination-rounded">[[+wrapper]]</ul></div>`
&pagination_pagePrevTpl=`<li class="page-item"><a class="page-link" href="[[+href]]"><span aria-hidden="true">&laquo;</span></a></li>`
&pagination_pageNextTpl=`<li class="page-item"><a class="page-link" href="[[+href]]"><span aria-hidden="true">&raquo;</span></a></li>`
&pagination_pageNavTpl=`<li class="page-item"><a class="page-link" href="[[+href]]">[[+pageNo]]</a></li>`
&pagination_pageActiveTpl=`<li class="page-item active"><a class="page-link" href="[[+href]]">[[+pageNo]]</a></li>`
&pagination_pageSkippedTpl=`<li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">...</a></li>`
&pagination_toPlaceholder=`pagination`
]]

[[$shk4_header]]

<main role="main" class="container">

    [[+breadcrumbs]]

    <div class="min-height400">

        <div class="float-lg-right mb-3 text-right">
            [[!shoppingCart@favorites]]
        </div>

        <h1>[[*pagetitle]]</h1>

        [[*content]]

        <div class="row">
            <div class="col-md-3">

                [[+filters]]

                [[!+shk4.filtersCount:gt=`0`:then=`
                <div class="my-2">
                    <a class="btn btn-info btn-sm btn-block shk-button-filters-reset" href="/[[+shk4.categoryUri]]">
                        Сброс
                    </a>
                </div>
                `:else=``]]

                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        shk.updateOptions({priceFilterName: 'price'});
                    });
                </script>

            </div>
            <div class="col-md-9">

                <div class="row">
                [[+products]]
                </div>

                [[!+products_total:eq=`0`:then=`<div class="alert alert-info">Ничего не найдено.</div>`:else=``]]

                [[+pagination]]

            </div>
        </div>

    </div>
</main>

[[$shk4_footer]]

<script>
    var shoppingCart;
    document.addEventListener('DOMContentLoaded', function() {
        if (shk) {
            shk.onAfterInit(function() {
                shk.filtersInit(true);
            });
        }
        shoppingCart = new ShoppingCart({
            baseUrl: '[[++base_url]]',
            snippetPropertySetName: 'shoppingCartSmall',
            selector: '#shoppingCartSmallContainer',
            productFormSelector: '.shk-item form'
        });
        shoppingCart
            .addEventListener('formSubmitBefore', function(e) {
                var buttonEl = e.detail.element.querySelector('button[type="submit"]');
                if (buttonEl) {
                    buttonEl.setAttribute('disabled', '');
                }
            })
            .addEventListener('load', function(e) {
                if (e.detail.element) {
                    var buttonEl = e.detail.element.querySelector('button[type="submit"]');
                    if (buttonEl) {
                        buttonEl.removeAttribute('disabled');
                    }
                }
            });
    });
</script>

</body>
</html>