[[$shk4_head]]
<body>

[[!shopkeeper4?
&action=`categories,breadcrumbs`

&categories_outerTpl=`0`
&categories_toPlaceholder=`topmenu`
&categories_cacheKey=`cache_topmenu`
&categories_rowTpl=`shk4_menuRowTpl`

&breadcrumbs_tpl=`shk4_breadcrumbs`
&breadcrumbs_toPlaceholder=`breadcrumbs`
]]

[[$shk4_header]]

<main role="main" class="container">

    [[+breadcrumbs]]

    <div class="min-height400 shk-item">

        <h1>[[*pagetitle]]</h1>

        <form id="shk-form" action="[[~6]]" method="post">
            <input type="hidden" name="item_id" value="[[*id]]">
            <input type="hidden" name="category_id" value="[[*parent]]">
            <div>
                <div class="column-left">

                    <div id="carouselImageGallery" class="carousel slide mb-5" data-ride="false" data-interval="false">
                        <div class="carousel-inner border">
                            <img src="/assets/components/shopkeeper4/img/nofoto.png" alt="" style="width: 100%;">
                        </div>
                    </div>

                </div>
                <div class="column-right">

                    <div class="my-3">
                        [[*description]]
                    </div>
                    <div class="my-3">
                        Цена:
                        <span class="big font-weight-bold shk-price">[[+page.price:numFormat]]</span>
                        <span class="shk-currency">[[+shk4.currency]]</span>
                    </div>
                    <div class="my-3">
                        <input type="number" class="form-control d-inline-block text-center mr-2" value="1" min="1" step="1" name="count" style="width: 100px;">
                        <button type="submit" class="btn btn-primary" name="submit_button">
                            В корзину
                        </button>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </form>

    </div>
</main>

[[$shk4_footer]]

<script>
    var shoppingCart;
    document.addEventListener('DOMContentLoaded', function() {
        shoppingCart = new ShoppingCart({
            baseUrl: '[[++base_url]]',
            snippetPropertySetName: 'shoppingCartSmall',
            selector: '#shoppingCartSmallContainer',
            productFormSelector: '.shk-item form'
        });
    });
</script>

</body>
</html>