[[$shk4_head]]
<body>

[[!shopkeeper4?
&action=`categories,breadcrumbs`

&categories_outerTpl=`0`
&categories_toPlaceholder=`topmenu`
&categories_cacheKey=`cache_topmenu`
&categories_rowTpl=`shk4_menuRowTpl`

&breadcrumbs_tpl=`shk4_breadcrumbs`
&breadcrumbs_toPlaceholder=`breadcrumbs`
]]

[[$shk4_header]]

<main role="main" class="container">

    [[+breadcrumbs]]

    <div class="min-height400 shk-item">

        <div class="float-lg-right mb-3 text-right">
            [[!shoppingCart@favorites]]
        </div>

        <h1>[[*pagetitle]]</h1>

        <div>
            <div class="column-left">

                <div class="position-relative js-shopping-cart-favorites">
                    <div class="position-absolute pos-right-top10" style="z-index: 100;">
                        <form action="[[~6]]" method="post">
                            <input type="hidden" name="item_id" value="[[*id]]">
                            <input type="hidden" name="category_id" value="[[*parent]]">
                            <input type="hidden" name="type" value="favorites">
                            <button class="btn btn-outline-secondary" type="submit" data-toggle="tooltip" name="action" value="add_to_cart" title="[[%shopping_cart.to_favorites?namespace=`shopping_cart`]]">
                                <i class="icon-heart1"></i>
                            </button>
                        </form>
                    </div>
                </div>

                <div id="carouselImageGallery" class="carousel slide mb-5" data-ride="false" data-interval="false">
                    <div class="carousel-inner border">
                        <img src="/assets/components/shopkeeper4/img/nofoto.png" alt="" style="width: 100%;">
                    </div>
                </div>

            </div>
            <div class="column-right js-shopping-cart-product">

                <form id="shk-form" action="[[~6]]" method="post">
                    <input type="hidden" name="item_id" value="[[*id]]">
                    <input type="hidden" name="category_id" value="[[*parent]]">
                    <input type="hidden" name="type" value="shop">

                    <div class="my-3">
                        [[*description]]
                        [[*content]]
                    </div>
                    <div class="my-3">
                        Цена:
                        <span class="big font-weight-bold shk-price">[[+page.price:numFormat]]</span>
                        <span class="shk-currency">[[+shk4.currency]]</span>
                    </div>
                    <div class="my-3">
                        <input type="number" class="form-control d-inline-block text-center mr-2" value="1" min="1" step="1" name="count" style="width: 100px;">
                        <button type="submit" class="btn btn-primary" name="submit_button">
                            В корзину
                        </button>
                    </div>
                </form>

            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</main>

[[$shk4_footer]]

<script>
    var shoppingCart;
    document.addEventListener('DOMContentLoaded', function() {
        shoppingCart = new ShoppingCart({
            baseUrl: '[[++base_url]]',
            snippetPropertySetName: 'shoppingCartSmall',
            selector: '#shoppingCartSmallContainer',
            productFormSelector: '.js-shopping-cart-product form'
        });
    });
</script>

</body>
</html>
