[[$shk4_head]]
<body>

[[!shopkeeper4?
&action=`categories`
&outerTpl=`0`
&cacheKey=`cache_topmenu`
&toPlaceholder=`topmenu`
&rowTpl=`shk4_menuRowTpl`
]]

[[$shk4_header]]

<main role="main" class="container">

    <h1>Главная страница</h1>

    <div class="min-height400">

        <div class="card bg-light mb-3">
            <div class="card-body">
                <h4 class="card-title">
                    Каталог товаров
                </h4>
                <hr>
                <div class="card-text">
                    <p>
                        Всего категорий: <b>1</b>
                    </p>
                    <p>
                        Всего товаров: <b>1</b>
                    </p>
                </div>
                <a href="/katalog/" class="btn btn-primary">
                    Перейти в каталог
                </a>
            </div>
        </div>

        <div class="mb-3">
            <h3>Новинки</h3>

            

        </div>

        <div class="py-3">
            [[*content]]
        </div>

    </div>
</main>

[[$shk4_footer]]

</body>
</html>