.idea
/*
/*/
!/readme.md

!/assets
/assets/*
!/assets/components
/assets/components/*
!/assets/components/shopkeeper4

!/core
/core/*
!/core/components
/core/components/*
!/core/components/shopkeeper4
/core/components/shopkeeper4/vendor/
